@charset "utf-8";

  .change-status-button{
      border-radius: 15px;
      width: 60%;
      height: 7%;
      border-color: rgb(149, 203, 224);
      background-color: rgb(149, 203, 224);
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
    
     .cancelOrderBtn{
      position: relative;
      top: 20px;
      left: 45%;
      font-size: 50px;
      font-weight : bolder;
      color : rgb(255,0,0);
      transform: rotate(45deg);
      cursor: pointer;
    }

    .restaurant-logo-order{
      width: 125px;
      height: 125px;
      flex-shrink: 0;
      position: relative;
      left: 0%;
      top: 0%;
    }

    .orders-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
        padding: 1.5em 0;
    }


    .menu-item-heading-orders{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 27px;
        margin-right: 10px;
    }

    .order-name{
        position:relative;
        left: 20%;
    }

    .order-price{
        position: relative;
        right: 100px;
    }
    

    .restaurant-info-orders{
        background-color:cornsilk; 
        border-radius: 25px; 
     
        width: 600px; 
       
        height:  600px; 
        text-align:  center; 
        display: block;
    }