 .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background: rgb(192, 236, 241);
      color: white;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
         height: 35%;
         margin-bottom: 0;
         background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://media.istockphoto.com/photos/top-view-table-full-of-food-picture-id1220017909?k=6&m=1220017909&s=170667a&w=0&h=Zy_NqTbEluSW0T667IHW7DVlpQih70V45k-rgeFt6Oo=)  center ;
    }

    .panel-heading{
        text-align: center;
        background-color: rgb(220, 235, 240);
        background: rgb(227, 240, 245);
    }

    .panel-footer{
        text-align: center;
        background-color: rgb(220, 235, 240);
    }

    .panel-body{
       width: 350px;
       height: 300px;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       justify-content: center;
    }

    .img-responsive{
        object-fit: 'cover';
        float: inherit;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color:#b9daee;;
      padding: 25px;
      height: 10%;
    }

    .change-status-button{
      border-radius: 15px;
      width: 60%;
      height: 7%;
      border-color: rgb(149, 203, 224);
      background-color: rgb(149, 203, 224);
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }

    .restaurant-logo{
      width: 125px;
      height: 125px;
      flex-shrink: 0;
      position: relative;
      left: 0%;
      top: 0%;
    }

    .orders-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
        padding: 1.5em 0;
    }

    .menu-item{
        display: flex;
    }

    .menu-item-image{
        width: 125px;
        height: 125px;
        flex-shrink: 0;
        object-fit: cover;
        margin-right: 1.5em;
    }

    .menu-item-text{
        flex-grow: 1;
    }

    .menu-item-heading-orders{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 27px;
        margin-right: 10px;
    }

    .order-name{
        position:relative;
        left: 20%;
    }

    .order-price{
        position: relative;
        right: 100px;
    }


    .restaurant-info-orders{
        background-color:cornsilk; 
        border-radius: 25px; 
     
        width: 600px; 
       
        height:  600px; 
        text-align:  center; 
        display: block;
    }